@font-face {
    font-family: 'digital';
    src: url('./font/digital-7-mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Share Tech Mono';
    src: url('./font/share-tech-mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aldrich';
    src: url('./font/aldrich-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --borderLight: #777578;
    --borderDark: #212035;
    --fontColor: #17C818;
    --backgroundDark: #161420;
    --backgroundLight: #393957;
}

html * {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
    position: relative;
    /* background: linear-gradient(to right, #161420, #393957, #161420); */
    background: linear-gradient(90deg, var(--backgroundDark), var(--backgroundLight), var(--backgroundDark));
    /* border: solid 2px #777578;
    border-bottom-color: #16172E;
    border-right-color: #16172E; */
}

.draggable {
    -webkit-app-region: drag;
}
.titleBar {
    -webkit-user-select: none;
    user-select: none;
    background: transparent;
    color: #fff;
    padding: 0px 4px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: fixed;
    height: 20px;
    line-height: 20px;
    /* pointer-events: none; */
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.titleBar .controls {
    margin-right: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
}

.titleBar .pillOutter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* flex-grow: 1; */
    width: 45%;
}

.titleBar .pill {
    height: 10px;
    background-color: #ccc;
    border: solid 1px #000;
    border-radius: 4px;
    flex-grow: 1;
    position: relative;

    background: linear-gradient(180deg, #FDFDD9, #433b1e, #FDFDD9);
}

.titleBar .pill::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: translateY(-50%);
}
.body {
    /* width: calc(100vw - 16px);
    height: calc(100vh - 20px); */
    border: solid 5px var(--borderDark);
    /* border-top-width: 1px; */
    top: 20px;
    bottom: 8px;
    left: 4px;
    right: 8px;
    position: fixed;

    -webkit-box-shadow: 1px 1px 0px 0px var(--borderLight), inset 1px 1px 0px 0px var(--borderLight);
    box-shadow: 1px 1px 0px 0px var(--borderLight), inset 1px 1px 0px 0px var(--borderLight);
    /* box-shadow: 1px 1px 0px 0px #82829B inset 1px 1px 0px 0px #fff; */
}
.buttonsHolder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    font-size: 0;
    bottom: 12px;
    left: 20px;
    position: absolute;
}
.buttonsHolder .mainButtons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
}
.windowButtonsHolder .btn,
.buttonsHolder .btn {
    display: inline-block;
    margin: 0;
    width: 36px;
    height: 26px;
    background: #BFCED9;
    border: solid 1px #B2B5CB;
    border-bottom-color: #2B2E46;
    border-right-color: #2B2E46;
    color: #96A8B8;
    font-size: 16px;
    position: relative;
    box-shadow:
        inset 0 0 3px 0 rgba(69,75,96,.1),
        inset 0 0 3px 0 rgba(0,0,0,.2),
        inset 0 0 3px 5px rgba(0,0,0,.05),
        2px 2px 4px 0 rgba(0,0,0,.0);
}
.windowButtonsHolder .btn:before,
.buttonsHolder .btn:before {
    top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: rgba(255,255,255,.6);
    box-shadow: 0 1px 2px 0 rgba(255,255,255,.6);
}
.windowButtonsHolder .btn:after,
.buttonsHolder .btn:after {
    bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(0,0,0,.15);
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,.15);
}
.windowButtonsHolder .btn:active,
.buttonsHolder .btn:active {
    background-color: #99A8BA;
    /* border-color: #2B2E46;
    border-bottom-color: #B2B5CB;
    border-right-color: #B2B5CB; */
}
.windowButtonsHolder .btn i,
.buttonsHolder .btn i {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #273243;
    margin: 0 auto;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 20px 20px;
    opacity: 0.7;
}

i.icn-back { mask-image: url('./img/icon-backward-solid.svg'); }
i.icn-play { mask-image: url('./img/icon-play-solid.svg'); }
i.icn-pause { mask-image: url('./img/icon-pause-solid.svg'); }
i.icn-stop { mask-image: url('./img/icon-stop-solid.svg'); }
i.icn-forward { mask-image: url('./img/icon-forward-solid.svg'); }
i.icn-eject { mask-image: url('./img/icon-eject-solid.svg'); }

.buttonsHolder .otherButtons .btn {
    height: 22px;
}
.windowButtonsHolder .btn i,
.buttonsHolder .otherButtons .btn i {
    width: 16px;
    height: 16px;
    mask-size: 16px 16px;
}
.optionButtons {
    height: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
}
.optionButtons .btn {
    width: auto;
    color: #152630;
    height: 16px;
    line-height: 13px;
    position: relative;
    padding-left: 14px;
    padding-right: 7px;
    font-family: 'Aldrich';
    font-size: 10px;
    overflow: hidden;
}
.btn i.icn-light {
    width: 7px;
    height: 7px;
    position: absolute;
    top: 1px;
    left: 3px;
}
.btn.on i.icn-light {
    background: #1EC11A;
}

.buttonsHolder .btn .icn-repeat {
    width: 10px;
    height: 10px;
    mask-size: 10px 10px;
    display: inline-block;
    background: #152630;
    position: relative;
    top: .5px;
}
.buttonsHolder .btn .icn-repeat { mask-image: url('./img/icon-repeat-solid.svg'); }

.btn-trafficlight {
    width: 14px;
    height: 14px;
    min-width: 0;
    background: #352B11;
    background: #271A11;
    background: linear-gradient(180deg, #271A11, #352B11);
    border-radius: 4px;
    border: solid 1px #000;
    margin-top: 3px;
    padding: 0;
}
.btn-trafficlight:active {
    background: #333;
}
.btn-trafficlight i {
    width: 10px;
    height: 10px;
    mask-size: 10px 10px;
    background: #152630;
    border-width: 1px;
    display: block;
    margin: 0 auto;
    background-color: #FDFDD9;
}
.btn-trafficlight i.icn-minimize { mask-image: url('./img/icon-window-minimize-solid.svg'); }
.btn-trafficlight i.icn-shrink { mask-image: url('./img/icon-shrink-solid.svg'); }
.btn-trafficlight i.icn-close { mask-image: url('./img/icon-xmark-solid.svg'); }


.progressBar {
    height: 14px;
    border: solid 2px var(--borderDark);
    border-right-color: var(--borderLight);
    border-bottom-color: var(--borderLight);
    border-right-width: 1px;
    border-bottom-width: 1px;
    position: absolute;
    left: 14px;
    right: 14px;
    width: unset;
    bottom: 50px;
    background: linear-gradient(90deg, var(--backgroundDark), var(--backgroundLight), var(--backgroundDark));

    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    outline: none; /* Remove outline */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 12px;
    border: solid 2px #DBCAAE;
    border-bottom-color: #89723C;
    border-right-color: #89723C;
    background: linear-gradient(180deg,#FEFFDF, #89723C);
    cursor: pointer;
    position: relative;
}
.progressBar::-webkit-slider-thumb::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: translateY(-50%);
}

.progressBar::-webkit-slider-thumb:active {
    background: linear-gradient(180deg,#D6D7BC, #695626);
}

.windowButtonsHolder {
    position: absolute;
    right: 14px;
    bottom: 77px;
}

.digitalDisplay {
    position: absolute;
    left: 16px;
    top: 8px;
    width: 150px;
    height: 80px;
    background: #000;
    border: solid 2px var(--borderDark);
    border-right-color: var(--borderLight);
    border-bottom-color: var(--borderLight);
    border-right-width: 1px;
    border-bottom-width: 1px;
}
.digitalDisplay .time {
    font-family: 'digital';
    color: var(--fontColor);
    font-size: 34px;
    line-height: 28px;
    height: 28px;
    width: 100px;
    text-align: right;
    position: absolute;
    right: 8px;
    top: 4px;
}

.marqueeDisplay {
    position: absolute;
    color: var(--fontColor);
    right: 14px;
    top: 8px;
    width: 238px;
    height: 24px;
    line-height: 22px;
    font-family: 'Aldrich', monospace;
    font-weight: normal;
    font-size: 12px;
    background: #000;
    border: solid 2px var(--borderDark);
    border-right-color: var(--borderLight);
    border-bottom-color: var(--borderLight);
    border-right-width: 1px;
    border-bottom-width: 1px;

    white-space: nowrap;
    overflow: hidden;

    /* overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch; */
}
.marqueeDisplay .track-info {
    display: block;
    height: calc(100% - 2px);
    padding: 0px 20px;
    height: calc(100% - 2px);
    /* animation: marquee 15s linear infinite; */
}

.audioChannels {
    position: absolute;
    right: 16px;
    font-size: 12px;
    font-weight: bold;
    top: 44px;
    text-align: right;
    color: #6D6E82;
}
.audioChannels.mono .mono {
    color: var(--fontColor);
    text-shadow: 0 0 2px var(--fontColor);
}
.audioChannels.stereo .stereo {
    color: var(--fontColor);
    text-shadow: 0 0 2px var(--fontColor);
}
.volumeDisplay {
    position: absolute;
    bottom: 74px;
    left: 170px;
    width: 108px;
}
.panDisplay {
    position: absolute;
    bottom: 74px;
    right: 95px;
    width: 50px;
}
.bar {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    height: 10px;
    border: solid 2px var(--borderDark);
    border-right-color: var(--borderLight);
    border-bottom-color: var(--borderLight);
    border-right-width: 1px;
    border-bottom-width: 1px;
    background: transparent;
    /* background: linear-gradient(90deg, var(--backgroundDark), var(--backgroundLight), var(--backgroundDark)); */
}
.bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 14px;
    border: solid 1px #000;
    /* border-radius: 3px; */
    /* border-bottom-color: #89723C;
    border-right-color: #89723C; */
    background: linear-gradient(180deg,#B3BCCD, #4D556A);
    cursor: pointer;
    position: relative;
    top: -1px;
}
.bar::-webkit-slider-thumb::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: translateY(-50%);
}

.bar::-webkit-slider-thumb:active {
    background: linear-gradient(180deg,#8A91A0, #2D3240);
}

.fileSpeedDisplay {
    position: absolute;
    left: 178px;
    display: flex;
    justify-content: flex-start;
    top: 44px;
    font-size: 11px;
    color: #fff;
    gap: 8px;
}
.fileSpeedDisplay .box {
    font-family: 'Aldrich', monospace;
    margin-right: 4px;
    display: inline-block;
    width: 28px;
    height: 16px;
    line-height: 16px;
    font-size: 11px;
    color: var(--fontColor);
    background: #000;
    text-align: center;

    border: solid 2px var(--borderDark);
    border-right-color: var(--borderLight);
    border-bottom-color: var(--borderLight);
    border-right-width: 1px;
    border-bottom-width: 1px;
}

.current-function {
    position: absolute;
    left: 16px;
    top: 8px;
    width: 30px;
    height: 30px;
}
#current-function-icon {
    width: 100%;
    height: 100%;
    position: relative;
}
#current-function-icon i {
    width: 16px;
    height: 16px;
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    background: var(--fontColor);
    display: block;
    margin: 0 auto;
    display: none;
}
#current-function-icon.stop i.icn-stop { display: block; }
#current-function-icon.play i.icn-play { display: block; }
#current-function-icon.pause i.icn-pause { display: block; }

#visualizer {
    position: absolute;
    left: 8px;
    top: 36px;
    width: 130px;
    height: 36px;

    background: #000;
}

@keyframes marquee {
    0% { transform: translateX(4%); }
    50% { transform: translateX(calc(-104% + 238px)); }
    100% { transform: translateX(4%); }
}